@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{

}
.contacts{
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}
@media (min-width: 781px) {
    .contacts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;    
    gap: 20px;
    padding: 20px;
    
}
.contact{
    width:400px;
    height:200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    padding: 10px;
    margin: auto;
}
img{
    
}
.a{
    color: blue;
}
.text{
    font-family: Montserrat;
    font-size: 200 px;
    transition: transform .2s;
}
.text1{
    font-family: Montserrat;
}
.text:hover{
    transform: scale(1.1);
    cursor: pointer;

}
.mobile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    outline: 5px solid black;
    outline-offset: -4px;
}

}
@media only screen and (min-width: 421px) and (max-width: 780px) {
    .contacts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;    
        gap: 20px;
        padding: 20px;
        
    }
    .contact{
        width:350px;
        height:180px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    padding: 10px;
        margin: auto;
    }
    img{
        
    }
    .a{
        color: blue;
    }
    .text{
        font-family: Montserrat;
        font-size: 200 px;
        transition: transform .2s;
    }
    .text1{
        font-family: 'Josefin Sans', sans-serif;
    }
    .text:hover{
        transform: scale(1.1);
        cursor: pointer;
    
    }
    .mobile{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        outline: 5px solid black;
        outline-offset: -4px;
    }
    
}
@media only screen and (min-width: 70px) and (max-width: 420px){
    .contacts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;    
        gap: 10px;
        padding: 20px;
        
    }
    .contact{
        width:300px;
        height:200px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    padding: 10px;
        margin: auto;
    }
   
    .a{
        color: blue;
    }
    .text{
        font-family: Montserrat;
        font-size: 200 px;
        transition: transform .2s;
    }
    .text1{
        font-family: Montserrat;
    }
    .text:hover{
        transform: scale(1.1);
        cursor: pointer;
    
    }
    .mobile{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        outline: 5px solid black;
        outline-offset: -4px;
    }
}