@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;

}
.sft{
    font-family: 'Josefin Sans', sans-serif;

    color:rgb(4, 52, 94)
    
}

@media (min-width: 781px) {
    .sft{
        font-family: Montserrat;
        font-size: 40px;
        font-weight: bolder;
    }
    .contacts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;    
    gap: 20px;
    padding: 20px;
    
}
.contact{
    width:370px;
    height:200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    padding: 10px;
    margin: auto;
}

.a{
    color: blue;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center ;
    margin: auto;
    font-weight: bolder;
    color: black
}
.text1{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center ;
    margin: auto;
    font-weight: bolder;
    
}
.text:hover{
    transform: scale(1.1);
    cursor: pointer;

}
.mobile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    outline: 5px solid black;
    outline-offset: -4px;
}

}
@media only screen and (min-width: 421px) and (max-width: 780px) {
    .sft{
        font-family: Montserrat;
        font-size: 25px;
        font-weight: bolder;
    }
    .contacts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;    
        gap: 20px;
        padding: 20px;
        
    }
    .contact{
        width:340px;
        height:180px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    padding: 10px;
        margin: auto;
    }
    img{
        
    }
    .a{
        color: blue;
    }
    .text{
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        text-align: center ;
        margin: auto;
        font-weight: bolder;
        color: black
    }
    .text1{
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        text-align: center ;
        margin: auto;
        font-weight: bolder;
        
    }
    .text:hover{
        transform: scale(1.1);
        cursor: pointer;
    
    }
    .mobile{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        outline: 5px solid black;
        outline-offset: -4px;
        margin: auto;
    }
    
}
@media only screen and (min-width: 70px) and (max-width: 420px){
    .contacts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;    
        gap: 10px;
        padding: 20px;
        
    }
    .contact{
        width:300px;
        height:180px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    padding: 10px;
        margin: auto;
    }
   
    
    .text{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: center ;
        margin: auto;
        font-weight: bold;
        color: black
    }
    .text1{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: center ;
        margin: auto;
        font-weight: bold;
        
    }
    .text:hover{
        transform: scale(1.1);
        cursor: pointer;
    
    }
    .mobile{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        outline: 5px solid black;
        outline-offset: -4px;
        margin: auto;
    }
    .sft{
        font-family: Montserrat;
        font-size: 25px;
        font-weight: bolder;
    }
}