.techLabel{
    color: rgb(4, 52, 94);
}
.main{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    
}
.home{
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);}
*{
    font-family: 'Josefin Sans', sans-serif;

}
@media (min-width: 781px) {
    .resume{
        font-size: 25px;
    }
    .sft{
        margin-top: 20px;
        font-size: 25px;
        
            }
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 80%;
    border-radius: 30px;
    margin: auto;
    color: aliceblue;
}
.about1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    text-align: justify ;
  
}
.image{
    height: 300px;
    width: 300px;
    margin: -75px 0 0 0
}


.techStacks{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    max-width: 80%;
    margin: auto;
}
.techStacks img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.techLabel{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}}
/* medium screen */
@media only screen and (min-width: 421px) and (max-width: 780px) {
    .home{
    }
    .sft{
        margin-top: 20px;
        font-size: 25px;
    }
    .main{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: justify ;
        gap: 10px;    
    }
    .about1{
        font-family: Montserrat;
        font-size: 25px;
        margin-top: 10px;
        text-justify: center;
    }
    .image{
        height: 200px;
        width: 200px;
        margin-top: 10px;
    }
    .techStacks{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        
    }
    .techStacks img{
        height: 45px;
        width: 45px;
        border-radius: 50%;

    }
    .techLabel{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 15px;    }
}

/* small screen */
@media only screen and (min-width: 70px) and (max-width: 420px){
    /* .home{
        height: 100vh;
    } */
    .main{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify ;
        
    }
    .sft{
        margin-top: 20px;
        font-size: 25px;
    }
    .about1{
        font-family: Montserrat;
        font-size: 25px;
        margin-top: 10px;
        text-justify: center;
    }
    
    .image{
        height: 150px;
        width: 150px;
        margin-top: 10px;
    }
    .techStacks{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
    .techStacks img{
        height: 50px;
        width: 40px;
        border-radius: 50%;

    }
    .techLabel{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}