.home{
    background-color: cornflowerblue;

}
.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about{
    font-family: Montserrat;
    font-size: 35px;
    border: 2px solid rgb(109, 94, 249);
    height: 250px;
}
.image{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
.techStacks{
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}
.techStacks img{
    height: 100px;
    width: 100px;
}
.techLabel{
    font-family: Montserrat;
    font-size: 35px;
}