*{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}
.sft{
    font-family: 'Josefin Sans', sans-serif;

    color:rgb(4, 52, 94)
    
}


@media only screen and (min-width: 781px){
    .projects{
        margin-top: 20px;
            }
.tU{
    font-family: 'Josefin Sans', sans-serif;
font-size: 35px;
margin-top: 25px;
font-weight: bold;
}
.sft{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bolder;
}


}
@media only screen and (min-width: 421px) and (max-width: 780px) {
    .sft{
        font-family: Montserrat;
        font-size: 30px;
        font-weight: bolder;
    }
    .tU{
        font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-top: 25px;
    font-weight: bold;
    }
    .projects{
        margin-top: 20px;
            }
}

@media only screen and (min-width: 70px) and (max-width: 420px){
    .projects{
margin-top: 20px;
    }
    .sft{
        font-family: Montserrat;
        font-size: 25px;
        font-weight: bolder;
    }
    .tU{
        font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-top: 25px;
    font-weight: bold;
    }
}
