.skills{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto;
border: 2px solid;
gap: 20px;
padding: 10px;
}

.skill{
    margin: auto;
    height: 200px;
    width: 200px;
    border: 2px solid;
}
@media only screen and (min-width: 421px) and (max-width: 780px) {
    .skills{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        border: 2px solid;
        gap: 20px;
        padding: 10px;
        }
        
        .skill{
            margin: auto;
            height: 200px;
            width: 200px;
            border: 2px solid;
        }
}
@media only screen and (min-width: 70px) and (max-width: 420px){

    .skills{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        border: 2px solid;
        gap: 20px;
        padding: 10px;
        }
        
        .skill{
            margin: auto;
            height: 200px;
            width: 200px;
            border: 2px solid;
        }
}