.sft{
    font-family: 'Josefin Sans', sans-serif;

    color:rgb(4, 52, 94)
    
}
.skills{
            display: grid;

}
.techLabel{
    color: rgb(4, 52, 94);
}
*{
    font-family: 'Josefin Sans', sans-serif;

}
@media only screen and (min-width: 781px) {
    .techLabel{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 35px;
        margin-bottom: 10px;
        
    }
    .skills{
        display: flex;
        gap: 20px;
        padding: 10px;
        }
        
        .skill{
            
            border-radius: 10px;
            margin: auto;
            height: 140px;
            width: 100px;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 12px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    padding: 10px;

        }
        .skill img{
            height: 100px;
            width: 100px;
            border-radius: 25px;

        }
        .skill:hover{
            transform: scale(1.1);
            transition: 1s;
        }
        .sft{
            font-family: Montserrat;
            font-size: 40px;
            font-weight: bolder;
        }
}

@media only screen and (min-width: 421px) and (max-width: 780px) {
    .skills{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;

        }
        .techLabel{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 25px;
            margin-bottom: 10px;
        }
        .skill{
            
            border-radius: 10px;
            margin: auto;
            height: 140px;
            width: 100px;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 12px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    padding: 10px;

        }
        .sft{
            font-family: Montserrat;
            font-size: 30px;
            font-weight: bolder;
        }
        .skill img{
            height: 100px;
            width: 90px;
            border-radius: 25px;
        }
        .skill:hover{
            transform: scale(1.1);
            transition: 1s;
        }
}

@media only screen and (min-width: 70px) and (max-width: 420px){
    .sft{
        font-family: Montserrat;
        font-size: 25px;
        font-weight: bolder;
    }
    .techLabel{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .skills{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        }
        
        .skill{
            border-radius: 10px;
            margin: auto;
            height: 110px;
            width: 90px;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    padding: 10px;

        }

        .skill img{
            height: 70px;
            width: 70px;
        }
        .skill:hover{
            transform: scale(1.1);
            transition: 1s;
        }
}
