
.nav{
    display: flex;
    justify-content: space-between;
    background:black;
    font-size: 35px;
    font-family: 'Roboto';
    color: aliceblue;
}
.foot{
    background:black;
    color: aliceblue;
    font-size: 20px;
}

.resume{
    font-size: 25px;
}
.H{
    color: blue;
}